@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-lighter: #323232;
  --color-dark: #222222;

  --color-light: #f2e6e6;
  --color-light-darker: #726666;

  --color-accent: #ff4f4f;
}

*,
*::before,
*::after {
  font-family: Helvetica, Arial, sans-serif;
}
