@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #222222;
  --color-light: #f2e6e6;
  --color-accent: #ff4f4f;
}

*,
*::before,
*::after {
  font-family: Helvetica, Arial, sans-serif;
}
