@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-lighter: #323232;
  --color-dark: #222222;

  --color-light: #fff8f8;
  --color-light-darker: #938787;

  --color-accent: #ff4f4f;
  --color-accent-darker: #9a0000;

  --color-border-default: #7c7c7c7c;
}

*,
*::before,
*::after {
  font-family: Helvetica, Arial, sans-serif;
}
